{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story-7</title>
{% endblock meta %}

{% block content %}
<div class="container text-center mt-5 mb-5 pb-5">
  <h1>Accordion jQuery</h1>
  <div class="accordion mt-5" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Aktivitas Saat ini
          </button>
          <button class="up btn"><img src="{% static 'img/arrowup.png' %}" alt="up" width="30" height="30"></button>
          <button class="down btn"><img src="{% static 'img/arrowdown.png' %}" alt="up" width="30" height="30"></button>
        </h2>
      </div>
      
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Kuliah di Fasilkom UI 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Pengalaman Organisasi / Kepanitiaan
          </button>
          <button class="up btn"><img src="{% static 'img/arrowup.png' %}" alt="up" width="30" height="30"></button>
          <button class="down btn"><img src="{% static 'img/arrowdown.png' %}" alt="up" width="30" height="30"></button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Anggota Rohis saat SMA
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Prestasi
          </button>
          <button class="up btn"><img src="{% static 'img/arrowup.png' %}" alt="up" width="30" height="30"></button>
          <button class="down btn"><img src="{% static 'img/arrowdown.png' %}" alt="up" width="30" height="30"></button>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Juara class meeting saat kelas 11 dan 12
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Foto Random
          </button>
          <button class="up btn"><img src="{% static 'img/arrowup.png' %}" alt="up" width="30" height="30"></button>
          <button class="down btn"><img src="{% static 'img/arrowdown.png' %}" alt="up" width="30" height="30"></button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <img src="{% static 'img/random.jpg' %}" alt="pizzacat">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
